h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #b983e9;
    border: 10px;
    border-color: red;
    border-style: solid;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #cc0a53;
}

h3 {
    font-family: sans-serif;
    background-color: #1dd3c4;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}